{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Login
                </h3>
            </div>
            <div class="panel-body">
                <form action="{{ route('auth.login') }}" method="post">
                    <div class="form-group">
                        <label class="control-label">E-mail</label>
                        <input class="form-control" type="text" placeholder="E-mail" name="email" 
                            value="{{ user.email }}">
                    </div> 
                    
                    {% if user.id is null %}
                    <div class="form-group">
                        <label class="control-label">Senha</label>
                        <input class="form-control" placeholder="Senha" type="password" name="password">  
                    </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}